.catalog-products {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 25%;
}

.products {
	width: 70%;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, minmax(210px, 1fr));
	align-content: flex-start;
	grid-gap: 25px;
}

.product {
	height: 250px;
	padding: 25px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #928fa6;
	border-radius: 10px;
}

.filter-group-item > span,
.filter > span {
	cursor: pointer;
}

.filter:hover {
	color: #928fa6;
}

.filter-group {
	display: flex;
	flex-direction: column;
}

.filter-group-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
}

.filter-header {
	font-weight: 700;
	display: flex;
	align-items: center;
}

.spoiler-body {
	display: none;
}

.rotate {
	transform: rotate(180deg);
	padding-right: 10px;
}
.arrow {
	width: 15px;
	height: 15px;
	padding-left: 10px;
}

.hide {
	display: none;
}

.selected {
	color: #928fa6;
}

#pagination-container {
	margin-top: 40px;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #eee;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px #eee;
}

.simple-pagination .current {
	color: #fff;
	background-color: #c7c7c7;
}

.product_price,
.product_title {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}

.product_title {
	font-weight: 500;
	font-size: 16px;
}

.product_img {
	width: fit-content;
	max-height: 70% !important;
	margin: 0 auto;
}

@media (max-width: 1170px) {
	.products {
		grid-template-columns: repeat(2, minmax(210px, 1fr));
	}
}
@media (max-width: 1000px) {
	.product-post {
		padding: 40px 20px;
	}
}
@media (max-width: 850px) {
	.products,
	.filters {
		width: 97%;
	}
	.catalog-products {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
}
@media (max-width: 515px) {
	.products {
		grid-template-columns: repeat(1, 1fr);
	}
}
